* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;        
}

.hide {
    display: none;
    visibility: hidden;
}

.car {
    width: 4vw;
    height: 8vw;
    position: absolute;
    bottom: 120px;
    left: 50%;
    background-image: url(./car/60-600823_car-png-top.png);
    background-size: cover;
}

.gameArea {
    width: 45%;
    height: 100vh;
    background-color: black;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-left: 1vw solid white;
    border-right: 1vw solid white;
}

.lines {
    width: 1vw;
    height: 70px;
    background: yellow;
    position: absolute;
    margin-left: 50%;
}

.carGame {
    background-image: url(./racetrack/5c7472b8c776c96d5ec370e87a4ebf93.jpg);
    background-size: cover;
    background-position: center;

}

.score {
    position: absolute;
    z-index: 2;
    top: 15px;
    text-align: center;
    font-size: 2vw;
    background-color: navy;
    color: white;
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    top: 70%;
    height: fit-content;
    padding-top: 15px;
    border-radius: 15px;
}

.startScreen {
    position: absolute;
    background-color: rgba(117, 8, 119, 0.952);
    color: white;
    z-index: 1;
    top: 5%;
    left: 25%;
    width: 50%;
    text-align: center;
    font-size: 2.25vw;
    cursor: pointer;
    border-radius: 23px;
    padding: 5%;
    height: fit-content;
    

}

.cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.obstacle {
    width: 4vw;
    height: 8vw;
    position: absolute;
    bottom: 120px;
    background-size: cover;

}

.rotate {
    rotate: 1turn;
    transition: rotate 1s;
}



#here {
    color: blueviolet;
    font-weight: bold;
    text-shadow: 1px .5px .5px navy;
}

#here:hover {
    color: yellow;
}

.dropdown, #reset {
    font-size: 2vw;
    padding: 10px;
}


#diff-btn {
    font-size: 2vw;
}

li {
    font-size: 2vw;
}

#easy:hover, #medium:hover, #hard:hover {
    background-color: blueviolet;
}

.button {
    position: absolute;
    left: 10vw;
    top: 17vw;
    width: 15vw;
}

.button2 {
    position: absolute;
    right: 10vw;
    top: 17vw;
    width: 15vw;
}

.pause-mute {
    display: flex;
    flex-direction: column;
    width: 15vw;
    justify-content: space-between;
    height: 25vw;
    position: absolute;
    top: 0;
    left: 0;
}

#pause, #mute, #restart {
    font-size: 3vw;
    border-radius: 20px;
    
}

#pause {
    margin-top: 2vw;
}





